<!DOCTYPE html>
<html>

<head>
  <title>IFPR-Python</title>
  <meta name="description"
    content="This is a landing page for IFPR and Flask Python. Learn about the benefits and features of IFPR and Flask Python.">
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
    }

    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
      font-size: 36px;
      color: #333;
      text-align: center;
      margin-top: 0;
    }

    p {
      text-align: center;
      font-size: 18px;
      color: #666;
      line-height: 1.5;
      margin: 20px 0;
    }
  </style>
</head>

<body>
  <div class="container">
    <h1>Hello World !</h1>
    <p>Learning Python with Flask, TADS 2023 - IFPR</p>
  </div>
</body>

</html>